/* 
font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: .2s;
}

:root {
    --green:    #27ae60;
    --deepBlue: #130f40;
    --white:    #fff;
    --gray:     #f7f7f7;
    --deepGray: #666;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}

.btn {
    background: var(--green);   
    padding: 7px 20px;  
    font-size: 17px;  
    color: var(--white); 
    border-radius: 5px;  
    margin-top: 1rem;  
    display: inline-block;
}

.btn:hover {
    background: var(--deepBlue);
}

span {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    color: var(--green);
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--deepBlue);
    margin: .5rem 0;
}

.title {
    padding: 2rem;
    text-align: center;
}

section {
    padding: 2rem;
}

/* Header Section Start */
.header {
    box-shadow: 0 15px 15px  rgba(0,0,0,0.08);
    padding: 19px 0;
    position: sticky;
    top: 0;
    background: var(--white);
    z-index: 1000;
}

.head-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .head-main .logo a {
    color: var(--deepBlue);
    font-size: 1.7rem;
    font-weight: 600;
}

.header .container .head-main .logo a i {
    font-size: 1.8rem;
    color: var(--green);
    margin-right: .5rem;
}

.header .container .head-main .menu a {
    color: var(--deepGray);
    font-size: 17px;
    margin: 0 .7rem;
    transition: .2s;
}

.header .container .head-main .menu a:hover {
    color: var(--green);
}

.header .container .head-main .head-icon i {
    background: var(--gray);
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 20px;
    margin-right: 3px;
    color: var(--deepBlue);
    border-radius: .5rem;
}

.header .container .head-main .head-icon i:last-child {
    margin-right: 0px;
}

.header .container .head-main .head-icon i:first-child {
    display: none;
}

.header .container .head-main .head-icon i:hover {
    background: var(--green);
    color: var(--white);
}
/* Header Section End */


/* Home Slider Section Start */
.home-main {
    display: flex;
    align-items: center;
    position: relative;
    gap: 2rem;
    overflow: hidden;
}

.home-content {
    width: 50%;
}

.home-img {
    width: 50%;
    overflow: hidden;
}

.home-img img {
    width: 100%;
    margin-top: 5rem;
}

.home-img .second-img {
    position: absolute;
    top: -190px;
    width: 100%;
    overflow: hidden;
    left: 231px;
}

.home-slider .container .home-main .home-content span {
    font-size: 20px;
    color: var(--green);
    font-family: 'Poppins', sans-serif;
}

.home-slider .container .home-main .home-content h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--deepBlue);
    margin: .5rem 0;
}

.home-slider .container .home-main .home-content p {
    font-size: 15px;
    color: var(--deepGray);
    line-height: 2;
    padding: 1rem 0;
}
/* Home Slider Section End */


/* Category Section Start */
.cat {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
} 
 
.single-cat {
    background: var(--gray);
    text-align: center;
    padding: 15px;
    border-radius: .5rem;
}

.single-cat:hover {
    background: var(--green);
    color: var(--white) !important;
}

.single-cat:hover h3 {
    color: var(--white);
}

.single-cat img {
    height: 68px;
}

.single-cat h3 {
    font-size: 17px;
    font-weight: 600;
    color: var(--deepBlue);
}
/* Category Section Start */

/* About Section Start */
.about {
    background: var(--gray);
}

.about-content {
    background: var(--gray);
    display: flex;
    align-items: center;
}

.left-about {
    width: 50%;
}

.left-about img {
    width: 100%;
}

.right-about {
    width: 50%;
    padding: 20px 0;
}

.right-about .right-title p {
    font-size: 14px;     
    color: var(--deepGray);    
    line-height: 2;     
    padding: 10px 0;
}

.right-about .about-icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1rem;
}

.right-about .about-icons .single-icons {
    display: flex;
    background: var(--white);
    flex: 1 1 200px;
    padding: 20px;
    align-items: center;
    gap: 1.5rem;
    border-radius: 7px;
    box-shadow: 0 1rem 1rem rgb(0, 0, 0, 0.08);
}

.right-about .about-icons .single-icons h3 {
    font-size: 17px;
}
/* About Section End */

/* Popular Section Start */
.single-popular {
    background: var(--gray);
    padding: 1.5rem;
    text-align: center;
    position:  relative;
    border-radius: .5rem;
}

.popular-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

.single-popular .fa-heart {
    position: absolute;
    top: 20px;
    right: 17px;
    color: var(--deepGray);
    font-size: 22px;
}

.single-popular .fa-heart:hover {
    color: var(--green);
}

.popular-img {
    margin: 13px 0;
}

.popular-img img {
    height: 9.5rem;
}

.popular-details h3 {
    font-size: 21px;
    font-weight: 600;
}

.popular-star {
    padding: 9px;
    font-size: 17px;
}

.popular-star i {
    color: gold;
}

.popular-star span {
    font-size: 18px;
    font-family: 'Poppins';
    color: var(--deepGray);
}

.popular-price span {
    font-family: 'Poppins';
    font-size: 16px;
    color: var(--deepGray);
    text-decoration: line-through;
}

.popular-price {
    font-size: 21px;
    color: var(--deepBlue);
    font-weight: 500;
}
/* Popular Section End */

/* Banner Section Start */
.full-banner {
    background: url('image/row-banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 28rem;
    position: relative;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.banner-content span {
    font-size: 2.5rem;
    color: var(--deepBlue);
}

.banner-content h3 {
    font-size: 3.8rem;
    text-transform: uppercase;
    color: red;
    margin:  0;
}

.banner-content p {
    font-size: 21px;
}

.grid-banner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.grid-banner .single-banner {
    position: relative;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
}

.grid-banner .single-banner img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-banner .single-banner img:hover {
    transform: scale(1.1);
}

.grid-banner .single-banner .banner-details {
    position: absolute;
    top: 20px;
    left: 20px;
}

.banner-details span {
    font-family: 'Poppins';
    font-size: 26px;
    color: var(--white);
}

.banner-details h3 {
    color: var(--white);
    margin-bottom: 0;
}

.grid-banner .single-banner .banner-details.center {
    text-align: center;
    width: 100%;
}

.grid-banner .single-banner .banner-details.center span {
    color: var(--deepGray);
}

.grid-banner .single-banner .banner-details.center h3 {
    color: var(--deepBlue);
}
/* Banner Section End */


/* Menu Section Start */
.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
}

.single-menu {
    display: flex;
    align-items: center;
    background: var(--gray);
    gap: 1rem;
    padding: 20px;
    border-radius: 7px;
}

.single-menu .menu-details h3 {
    font-size: 20px;
    color: var(--deepBlue);
}

.single-menu img {
    height: 100px;
}

.single-menu .menu-details p {
    font-size: 19px;
    font-weight: 500;
    color: var(--green);
}

.single-menu:hover {
    background: var(--deepBlue);
}

.single-menu:hover .menu-details h3 {
    color: var(--white);
}
/* Menu Section End */

/* Order Section Start */
.order-icons {
    background: var(--gray);
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.order-icons h3 {
    font-size: 20px;
    margin-top: 5px;
}

.order-icons img {
    height: 100px;
}

form {
    background: var(--gray);
    margin-top: 2rem;
    padding: 15px 20px;
    border-radius: 10px;
}

.form-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single-form {
    width: 49%;
    padding: 10px 0;
}

.form-flex .single-form label {
    font-size: 17px;
    color: var(--deepGray);
}

.form-flex .single-form input {
    width: 100%;
    padding: 8px 11px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 7px;
    margin-top: 8px;
}

textarea {
    resize: none;
    width: 100%;
    border: none;
    outline: none;
    padding: 17px 13px;
    margin-top: 8px;
    font-size: 17px;
    height: 200px;
}
/* Order Section End */

/* Blog Section Start */
.blog-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.blog-img {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 15rem;
}

.single-blog {
    overflow: hidden;
    border-radius: 7px;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}

.blog-img h3 {
    position: absolute;
    background: var(--white);
    font-size: 17px;
    padding: 5px 12px;
    border-radius: 5px;
    color: var(--deepBlue);
    top: 10px;
    left: -100%;
    z-index: 10;
    overflow: hidden;
}

.blog-img h3 i {
    color: var(--green);
    padding-right: 6px;
}

.blog-wrapper .single-blog:hover .blog-img h3 {
    left: 1rem;
}

.blog-wrapper .single-blog:hover .blog-img img {
    transform: scale(1.1);
}

.blog-content {
    background: var(--gray);
    padding: 20px 17px;
}

.blog-content .blog-tag a {
    color: var(--deepGray);
    font-size: 15px;
    padding-right: 4px;
}

.blog-content .blog-tag a i {
    color: var(--green);
    padding-right: 6px;
}

.blog-content .blog-tag a:hover {
    color: var(--green);
}

.blog-content h3 {
    font-size: 20px;
}

.blog-content p {
    font-size: 14px;
    color: var(--deepGray);
    line-height: 2;
    padding: 6px 0;
}
/* Blog Section End */

/* Footer Section Start */
footer.footer {
    background: var(--gray);
    padding: 25px 0;
}

.newslater h3 {
    font-size: 25px;
    padding-bottom: 0px;
}

.newslater form {
    margin-top: 0;
    padding: 0px;
    max-width: 38rem;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 6px;
}

.newslater {
    text-align: center;
}

.newslater form input[type="email"] {
    padding: 10px 13px;
    width: 100%;
    height: 100%;
    font-size: 15px;
    border: none;
    outline: none;
}

.newslater form input[type="submit"] {
    padding: 0 20px;
    font-size: 15px;
    background: var(--green);
    border: none;
    color: var(--white);
    cursor: pointer;
}

.newslater form input[type="submit"]:hover {
    background: var(--deepBlue);
}

.footer-content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 1rem;
}

.single-footer h3 {
    font-size: 22px;
    padding: 12px 0;
}

.single-footer a {
    padding: 8px 0;
    display: block;
    color: var(--deepGray);
    font-size: 14px;
}

.single-footer p {
    font-size: 14px;
    color: var(--deepGray);
    padding: 8px 0;
}

.single-footer a i {
    color: var(--green);
    padding-right: 5px;
}

.single-footer a:hover i {
    padding-right:18px;
}

.footer-bottom {
    text-align: center;
    padding-top: 25px;
}

.footer-bottom .footer-icon a {
    font-size: 20px;
    margin-right: 8px;
    color: var(--white);
    background: var(--green);
    display: inline-block;
    width: 44px;
    height: 46px;
    text-align: center;
    line-height: 47px;
    border-radius: 7px;
}


.footer-bottom .footer-icon a:hover {
    background: var(--deepBlue);
}

.credit span {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.credit {
    color: var(--deepGray);
    font-size: 20px;
    margin-top: 30px;
}


/* @media (max-width: 960px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .single-form {
        width: 100%;
    }
} */
